body {
  display: flex;
  justify-content: center; /* horizontal centering */
  align-items: center;     /* vertical centering */
  flex-direction: column;  /* stack elements vertically */
  background-color: #bff9ff;
}

#root {
  background-color: white;
  border: 2px solid black;
  border-radius: 10px;
  padding-left: 20px;
  width: 90%;
  max-width: 600px;
  height: 500px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow-y: auto; 
}

.h1Standard {
  font-family: "Consolas", monospace;
}

.h2Standard {
  font-family: "Courier New";
}

.h3Standard {
  font-family: "Courier New";
}

.requestStyling {
  font-family: "Courier New";
  border: 2px solid black;
  border-radius: 6px;
  background-color: white;
  color: black;
  padding: 20px;
  display: inline-block;   
  margin-bottom: 10px
}

.btn-standard {
  font-family: "Courier New", monospace;
  font-size: 22px;
  color: black;
  border: 2px solid black;
  border-radius: 20px;
  display: block;
  margin-top: 1em;
  position: absolute;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.inputLikeStyling {
  font-family: "Courier New", monospace;
  color: black;
  border: 2px solid black;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.boxTextOutline {
  display: inline-block;
  padding: 8px 12px;
  border: 2px solid black;
  border-radius: 6px;
  background-color: #E3F2FD;
  color: black;
}

.btn-standard:hover {
  border: 2px solid blue;
}


label {
  font-family: "Courier New";
  position:absolute;
  
}


